<!doctype html>
<html class="no-js" lang="en">

<head>
    @*Header*@
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Apna Kutumbh</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="images/favicon.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/css/animate.min.css" type="text/css">
    <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css">
    <link rel="stylesheet" href="/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css" type="text/css">
    <link rel="stylesheet" href="/css/swiper.min.css" type="text/css">
    <link rel="stylesheet" href="/css/select2.css" type="text/css">
    <link rel="stylesheet" href="/css/default.css" type="text/css">
    <link rel="stylesheet" href="/css/header.css" type="text/css">
    <link rel="stylesheet" href="/css/footer.css" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">
    <link rel="stylesheet" href="/css/responsive.css" type="text/css">
  

</head>
<body>
    <div class="preloader">
        <div class="d-table">
            <div class="d-table-cell">
                <div class="spinner">
                    <div class="circle1"></div>
                    <div class="circle2"></div>
                    <div class="circle3"></div>
                </div>
            </div>
        </div>
    </div>
    <button class="scroll-top scroll-to-target" data-target="html">
        <i class="fa fa-angle-up"></i>
    </button>

    <header class="header-one">
        <div class="header-top-two">
            <div class="container">
                <div class="row">
                    <div class="col-md-4"></div>
                    <div class="col-md-5">
                        <div class="mail-send">
                            <ul>
                                <li>
                                    <span class="icon-call">
                                        <img src="/images/mail-o.png" alt="">
                                    </span>
                                    <div class="cont-con">
                                        <a href="mailto:apnakutumbh@gmail.com"><span class="__cf_email__">apnakutumbh@gmail.com</span></a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="mail-send fl-right">
                            <ul>
                                <li>
                                    <span class="icon-call">
                                        <img src="/images/user-o.png" alt="">
                                    </span>
                                    <div class="cont-con">
                                        <a href="/Home/Login">Login</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="sticky-header" class="main-header menu-area one-header">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-nav-toggler"><i class="fa fa-bars"></i></div>
                        <div class="menu-wrap">
                            <nav class="menu-nav">
                                <div class="logo">
                                    <a href="~/Website/Home"><img src="/images/logo_2.png" alt="" style="width:140px"></a>
                                </div>
                                <div class="navbar-wrap main-menu d-none d-lg-flex">
                                    <ul class="navigation">
                                        <li class="active">
                                            <a href="/Website/Home">Home</a>
                                        </li>
                                        <li><a href="/Website/About">About Us</a></li>
                                        <li><a href="/Website/Property">Property</a></li>
                                        <li><a href="/Website/ContactUs">Contact Us</a></li>
                                    </ul>
                                </div>
                                <div class="header-action d-none d-md-block">
                                    <ul>
                                        <li class="header-btn">
                                            <a href="#" class="animation-cer btn-call">
                                                <img src="/images/call.png" alt="" />
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>

                        <div class="mobile-menu">
                            <nav class="menu-box">
                                <div class="close-btn"><i class="fa fa-times"></i></div>
                                <div class="nav-logo">
                                    <a href="~/Website/Home"><img src="/images/logo_1.png" alt="" title=""></a>
                                </div>
                                <div class="menu-outer">
                                </div>
                                <div class="login-p">
                                    <ul>
                                        <li>
                                            <a href="/Home/Login">
                                                <span class="icon-call">
                                                    <img src="images/user-o.png" alt="">
                                                </span>
                                                <div class="cont-con">
                                                    Login
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="social-links">
                                    <ul class="clearfix">
                                        <li><a href="#"><span class="fa fa-twitter"></span></a></li>
                                        <li><a href="#"><span class="fa fa-facebook-square"></span></a></li>
                                        <li><a href="#"><span class="fa fa-pinterest-p"></span></a></li>
                                        <li><a href="#"><span class="fa fa-instagram"></span></a></li>
                                        <li><a href="#"><span class="fa fa-youtube"></span></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="menu-backdrop"></div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    @RenderBody()
    <section class="footer-four">
        <div class="container">
            <div class="row pb-70 pt-80">
                <div class="col-md-4 pr-30">
                    <div class="footer-cont footer-logo">
                        <span class="logo-f mar-top mb-30">
                                <h4>About Our Company</h4>
                        </span>
                        <p>It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively.</p>
                    </div>
                </div>
                <div class="col-md-4 pl-30 pr-30 b-l-r">
                    <div class="footer-cont footer-logo mt-15">
                        <h4>Explore</h4>
                        <ul class="menu-footer wi-50">
                            <li><a href="/Website/Home">Home</a></li>
                            <li><a href="/Website/About">About Us</a></li>
                            <li><a href="/Website/Property">Property</a></li>

                            <li><a href="/Website/ContactUs">Contact Us</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">Terms Of Use</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 pl-30">
                    <div class="footer-cont footer-logo mt-20 subs">
                        <h4>
                            Get the best viral<br />
                            strories straight into<br />
                            your inbox!
                        </h4>
                        <div class="news-f1">
                            <input type="text" placeholder="Email" class="fill form-control" />
                            <button class="btn upcase ">Subscribe</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 border-t-b">
                    <ul class="social-t fl-left">
                        <li><a href="#" class="facebook-change-co"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#" class="twitter-change-co"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="pinterest-change-co"><i class="fa fa-pinterest"></i></a></li>
                        <li><a href="#" class="linkedin-change-co"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <div class="copy-one-to fl-right">
                        <p>
                            &copy; copyright
                            <script data-cfasync="false" src="js/email-decode.min.js"></script>
                            <script type="text/javascript">var year = new Date(); document.write(year.getFullYear());</script>
                            <a href="https://afluex.com/">Apna Kutumbh</a>. Designed and developed by <a href="" target="blank">Afluex Multiservices LLP.</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </section>
    <script src="/js/jquery-3.6.0.min.js" type="text/javascript"></script>
    <script src="/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="/js/wow-animate.min.js" type="text/javascript"></script>
    <script src="/js/isotope.pkgd.min.js" type="text/javascript"></script>
    <script src="/js/jquery.magnific-popup.min.js" type="text/javascript"></script>
    <script src="/js/owl.carousel.min.js" type="text/javascript"></script>
    <script src="/js/select2.min.js" type="text/javascript"></script>
    <script src="/js/swiper.min.js" type="text/javascript"></script>
    <script src="/js/main.js" type="text/javascript"></script>
    <script src="/js/rocket-loader.min.js" type="text/javascript"></script>
</body>
</html>