
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<div class="minsection">
    <div class="sub-banner pt-90 pb-90">
        <div class="container">
            <div class="col-md-8  offset-md-2">
                <div class="text-center text-line">
                    <h1>About Us</h1>
                    <ul class="text-c">
                        <li>Home</li>
                        <li>|</li>
                        <li class="color-t">About Us</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section class="pt-90 pb-90 about-page bg-white">
        <div class="container">
            <div class="row">
                <div class="col-md-6 pt-50">
                    <div class="text-con">
                        <h2>Our story begins with you</h2>
                        <p class="text-jusitfy">
                            Apna Kutumbh is all about you - Our aim is to empower every person in the country to
                            independently connect with buyers and sellers online. Apna Kutumbh is a platform for those who are searching a suitable property for family or investment purpose but they don't have enough time to find property one by one. So we have created a place only for you, find here a good real estate and save your time.
                        </p>
                        <p>Founded in 2020, Apna Kutumbh has left a memorable footprint in over 100 cities.</p>
                    </div>
                </div>
                <div class="col-md-6 pl-70 pt-50">
                    <div class="min-about pl-40 pb-40">

                        <img src="/images/f-p1.png" alt="" class="img-fluid" />
                        <div class="play-s">
                            <span class="min-text-line">
                                <b>E</b>Stablished<br>
                                2020
                            </span>
                            <button class="play-ab"><i class="fa fa-play"></i></button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-12 text-con">
                    <p>It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively. you can advertise a property, search for a property, browse through properties, build your own property microsite, and keep yourself updated with the latest news and trends making headlines in the realty sector.</p>

                </div>
            </div>
        </div>
    </section>

    <section class="pt-90 pb-90 change">
        <div class="container">
            <div class="row">
                <div class="col-md-11 mar-auto">
                    <div class="min-change mb-60">
                        <h2>
                            We Are Changing The Real Estate<br />
                            Industry With Progression And Passion.
                        </h2>
                        <h4>
                            We try and be the main self-governing property corporation in the places we cover,
                            <br />providing an entirely personal and committed provider.
                        </h4>
                    </div>
                    <div class="row">
                        <div class="col-md-3 pl-5-im">
                            <div class="min-box-ch">
                                <span class="num">01</span>
                                <span class="po-i-c">
                                    <img src="/images/a-1.png" alt="" class="img-fluid" />
                                </span>
                                <h3>
                                    Trusted
                                </h3>
                                <p>Believe in our service & Care</p>
                            </div>
                        </div>
                        <div class="col-md-3 pl-5-im">
                            <div class="min-box-ch">
                                <span class="num">02</span>
                                <span class="po-i-c">
                                    <img src="/images/a-1.png" alt="" class="img-fluid" />
                                </span>
                                <h3>
                                    24/7 Support
                                </h3>
                                <p>We are available 24/7 hours.</p>
                            </div>
                        </div>
                        <div class="col-md-3 pl-5-im">
                            <div class="min-box-ch">
                                <span class="num">03</span>
                                <span class="po-i-c">
                                    <img src="/images/a-3.png" alt="" class="img-fluid" />
                                </span>
                                <h3>
                                    Financing Easy
                                </h3>
                                <p>Believe in our service & Care</p>
                            </div>
                        </div>
                        <div class="col-md-3 pl-5-im">
                            <div class="min-box-ch">
                                <span class="num">04</span>
                                <span class="po-i-c">
                                    <img src="/images/a-4.png" alt="" class="img-fluid" />
                                </span>
                                <h3>
                                    Wide Range House
                                </h3>
                                <p>Believe in our service & Care</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="pt-60 pb-90 mision-vission bg-white">
        <div class="row no-m cont-m">
            <div class="col-md-6 pd-0 pd-01">
                <div class="img-mi-vi">
                    <img src="/images/mission.png" alt="" class="img-fluid" />
                </div>
            </div>
            <div class="col-md-6 pl-80 pt-60 pr-80">
                <div class="img-mi-vi">
                    <h3>Our Mission</h3>
                    <p>
                        Our mission is to touch the horizon where our capabilities may successfully meet with the
                        requirements of our clients, that too with ultimate transparency and cost-effectiveness.
                    </p>
                </div>
            </div>
        </div>
        <div class="row no-m cont-m">
            <div class="col-md-6 pl-80 pt-60 ">
                <div class="img-mi-vi te-right">
                    <h3>Our Vision</h3>
                    <p>
                        To sow the seeds of par-excellence services with customer centric approach and reap the trust
                        of worldwide clients.
                    </p>
                </div>
            </div>
            <div class="col-md-6 pd-0 pl-80 pd-02">
                <div class="img-mi-vi">
                    <img src="/images/vission.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </section>
</div>
<script src="js/footer.js"></script>

